@use "../../scss/variables" as *;
@use "../../scss/mixins";

.btn {
    padding: .6rem 1.2rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    @include mixins.websiteFont(500, white, 1rem) {
        text-transform: uppercase;
    } 
    .button_icon {
        margin-right: .5rem;
        display: flex;
        align-items: center;
        .fa-regular {
            width: 2rem;
            height: 2rem;
            color: white;
        }
    }
}
.submit_btn {
    min-width: 12rem;
    justify-content: center;
    color: white;
    background-color: $colorSecondary;
    &:hover {
        background-color: #ae5d9c;
    }
}
.primary {
    color: white;
    background-color: $colorSecondary;
    border: 2px solid $colorSecondary;
    &:hover {
        background-color: #ae5d9c;
        border-color: #ae5d9c;
    }
}
.secondary {
    color: $colorSecondary;
    border: 2px solid $colorSecondary;
    background-color: white;
    &:hover {
        background-color: $colorSecondary;
        color: white;
    } 
}

.google, .facebook {
    width: 100%;
    background-color: white;
    margin: .5rem 0;
    text-transform: capitalize;
    font-family: inherit;
    max-width: 24rem;
    &:hover {
        color: white;
    }
}
.google {
    border: 2px solid #DB4437;
    color: #DB4437;
    &:hover {
        background-color: #DB4437;
    } 
}
.facebook {
    border: 2px solid #4267B2;
    color: #4267B2;
    &:hover {
        background-color: #4267B2;
      
    } 
}
