@use "../../scss/variables" as *;
@use "../../scss/mixins";

.cart_container {
  > p:not(.error) {
    text-align: center;
  }
  h2.login_redirection {
    text-align: left;
  }
  @media screen and ($desktop_s) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and ($desktop) {
    max-width: 900px;
  }
}
.cart_items {
  margin-top: 2rem;
 
}

