@use "../../scss/variables" as *;
@use "../../scss/mixins";

.cart_container {
  // > p {
  //   text-align: center;
  // }
  h2.login_redirection {
    text-align: left;
  }
  @media screen and ($desktop_s) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and ($desktop) {
    max-width: 900px;
  }
}
.cart_items {
  margin-top: 2rem;
 
}


.shipping_data {
  @media screen and ($desktop_s) {
    width: 700px;
  }
  h2 {
    @include mixins.websiteFont(500, $colorNeutral, 1rem);
    margin-bottom: 1rem;
  }
  p {
    color: $colorNeutralDark;
    margin: .5rem 0;
  }
  > div:first-of-type {
    margin-bottom: 3rem;
  }
}