@use "../../scss/variables" as *;
@use "../../scss/mixins";

.security_alert_bg {
  background-color: #434343;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 80%;
}
.security {
  display: flex;
  justify-content: center;
  align-items: center;
  .security_container {
    background-color: white;
    max-width: 95%;
    z-index: 6;
    padding: 4rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    text-align: left;
    position: relative;
    top: -13rem;
    @media screen and ($desktop_s) {
      max-width: 800px;
      top: 15vh;
      position: fixed;
    }
  }
  .no_security_icon {
    margin-right: 1rem;
    margin-bottom: 2rem;
    color: $colorSecondary;
    @media screen and ($desktop-s) {
      margin-bottom: 0;
    }
  }
  .security_icon_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    max-width: 32rem;
    @media screen and ($desktop-s) {
      flex-direction: row;
      align-items: center;
    }
    h2 {
      color: $colorSecondary;
    }
  }
  p {
    margin: 0;
    max-width: 32rem;
  }
  span {
    font-weight: 500;
  }
  strong {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 1px;
  }
}
