//colors
$colorPrimary: #00BE96;
$colorSecondary: #802C6E;
$colorAccent: #00AABF;
$colorNeutral: #707070;
$colorNeutralDark: #2c2c2c;
$colorNeutralLight: #E0E0E0;
$colorError: #bd134e;

//breakpoints
$tablet_s: "min-width: 500px";
$tablet: "min-width: 700px";
$desktop_s: "min-width: 1000px";
$desktop: "min-width: 1100px"; 